body { background-color: pink; }

#container {
	margin: 0px auto;
	width: 500px;
	height: 675px;
	border: 10px #333 solid;
}

#snap{
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 18px auto;
  border: none;
  cursor: pointer;
  width: 10%;
  text-align: center;
}  

#videoElement {
	width: 500px;
	height: 675px;
	background-color: #666;
}